<h1>Final assignment of Data Visualization</h1>

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import os
import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
df_dsc = pd.read_csv('Topic_Survey_Assignment.csv')

print ('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

In [4]:
df_dsc

,Unnamed: 0,Very interested,Somewhat interested,Not interested
0,Big Data (Spark / Hadoop),1332,729,127
1,Data Analysis / Statistics,1688,444,60
2,Data Journalism,429,1081,610
3,Data Visualization,1340,734,102
4,Deep Learning,1263,770,136
5,Machine Learning,1629,477,74

In [10]:
df_dsc.columns=["Topic", "Very interested", "Somewhat interested", "Not interested"]

In [12]:
df_dsc.set_index('Topic', inplace=True)

In [14]:
df_dsc.index.name = None